
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script data-main="assets/ts/tasks/task.entry.js" src="../Scripts/require.js"></script>

<div ng-controller="task.controller">
    <table class="table table-striped table-bordered nowrap" width="100%">
        <thead>
            <tr>
                <th>Number</th>
                <th>Specification</th>
                <th>CreationDate</th>
                <th>FinishDate</th>
                <th>Priority</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{ task.Number }}</td>
                <td>{{ task.Specification }}</td>
                <td>{{ task.CreationDate | date:"MM/dd/yyyy h:mma"}}</td>
                <td>{{ task.FinishDate| date:"MM/dd/yyyy h:mma" }}</td>
                <td>{{ task.Priority }}</td>
                <td>{{ task.Status }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#demoTable').DataTable();
    });
</script>