
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="test">Index</h2>

<div>
    <table id="demoTable" class="table table-inverse table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Otto</td>
        </tr>
        </tbody>
    </table>
</div>

<script data-main="assets/ts/tasks/task.entry.js" src="../Scripts/require.js"></script>
<div ng-controller="task.controller">
    <div>{{Message}}</div>
</div>

<script>
    $(document).ready(function () {
        $('#demoTable').DataTable();
    });
</script>